{% extends '../layouts/base.html' %}

{% block title %}
Case details
{% endblock %}

{% load static %}

{% block styles %}
<link href="{% static 'admin-account/css/case-details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="page-content">
    <div class="container">
        <h1 class=" header page-title mb-0">
            Дело: 00006
        </h1>
        <div class="row two-cols-occupied">
            <div class="col-12 col-md-8">

                <div class="page-section">
                    {% include 'layouts/case-page-components/case-parties-section.html' %}
                </div>
                <div class="page-section">
                    {% include 'layouts/case-page-components/documents-section.html' %}
                </div>

                <div class=" add-refuse-button-container mt-5">
                    <button class="btn-black-noborder">НАЗАД</button>
                </div>

            </div>

            <div class="col-md-4 case-history-container d-none d-md-block">
                {% include 'layouts/case-page-components/case-history.html' %}
            </div>
        </div>
    </div>


    </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'dependencies/Pristine/dist/pristine.min.js' %}"></script>
<script src="{% static 'admin-account/js/case-details.js' %}" crossorigin="anonymous"></script>
{% endblock %}