<div class="case-history bg-white">
    <h6>
        История
    </h6>
    <div class="history-event">
        <div>
            <i class="fas fa-circle"></i>
        </div>
        <div>
            Задаване тип на делото: <span class="data">Тип 2</span>
        </div>
        <div class="date">
            28.05.2021
        </div>
    </div>
    <div class="history-event">
        <div>
            <i class="fas fa-circle"></i>
        </div>
        <div>
            Назначен отговорник по делото: <span class="data">Николай Иванов</span>
        </div>
        <div class="date">
            27.05.2021
        </div>
    </div>
    <div class="history-event">
        <div>
            <i class="fas fa-circle"></i>
        </div>
        <div>
            <span>Делото е създадено</span>
        </div>
        <div class="date">
            26.05.2021
        </div>
    </div>
</div>