<!-- for the case type section to select the type -->
<div class=" bg-white  create-case-step case-type-step">
    <div class="header-section">
        <h2 class="header-content">
            Тип на делото
        </h2>
    </div>
    <div class="form-input-container selection-input court-type-selection">
        <div class="select-arraw"></div>
        <select name="caseType" id="case-type" class="form-input select">
            <option value="" class="d-none"></option>
            <option value="Входирано">Входирано</option>
            <option value="Активно">Активно</option>
            <option value="Приключено">Приключено</option>
            <option value="Приключено">option-4</option>
            <option value="Приключено">option-5</option>
            <option value="Приключено">option-6</option>
            <option value="Приключено">option-7</option>
            <option value="Приключено">option-8</option>
        </select>
        <label for="case-type">Изберете тип на делото</label>

    </div>
</div>