{% extends '../layouts/base.html' %}

{% block title %}
Case details
{% endblock %}

{% load static %}

{% block styles %}
<link href="{% static 'admin-account/css/case-details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="page-content">
    <div class="container">
        <div class="row mt-3">
            <div class="col-9 col-md-9 header">
                <!-- <h1>Създаване на дело: 00006</h1> -->
                <h1 class="page-title">Създаване на дело: 
                    <span class="case-id">00006</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-12 col-lg-9">

                {% include 'layouts/case-page-components/case-type-select.html' %}
                <!-- to add creditors section  -->
                {% include 'layouts/case-page-components/case-parties-section.html' %}
                

                <!-- the radio button sections -->
                <!-- this div will be viewed when click on He radio button -->
                {% include 'layouts/case-page-components/radio-btns-section.html' %}

             

                <!-- the last section -->
                {% include 'layouts/case-page-components/documents-section.html' %}
                <div class=" add-refuse-button-container mt-5">
                    <button class="btn-black-noborder" onclick='location.href ="{%url "cases" %}"'>ОТКАЗ</button>
                    <button class="main-btn btn-blue" onclick='location.href ="{%url "cases" %}"'>ГЕНЕРИРАНЕ НА ДЕЛОТО</button>
                </div>
            </div>
        </div>
    </div>


    </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'dependencies/Pristine/dist/pristine.min.js' %}"></script>
<script src="{% static 'admin-account/js/case-details.js' %}" crossorigin="anonymous"></script>
{% endblock %}